$bodycolor: #260041;
$backgraundgradient: linear-gradient(1deg, white 40%, #4a9ad36e) no-repeat;
$bluetext: #4e9cd3;
$linkcolor: #4a99d3;
$boxshadow_container1: 0 3px 0 rgba(207, 204, 204, 0.462);
$darkbluecolor: rgba(74, 153, 211, 0.1);
$box-shadow_servise_section_content: 5px 20px 50px rgba(74, 153, 211, 0.2);
$whitecolor: #ffffff;
