@import "./mixim.scss";
@import "./colors.scss";
@import "./variables.scss";

.footer {
  padding: 50px 0px 10px 0px;
  background-color: $linkcolor;
}

.grid__footer {
  grid-template-columns: 2fr 1fr 1fr 1fr 3fr;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  display: grid;
  gap: 26px;
}

.logo__col {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  color: $whitecolor;
}

.footer__heading {
  font-size: 22px;
  color: $whitecolor;
  margin-bottom: 30px;
  text-decoration: underline;
}

.footer__nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__link:link,
.footer__link:visited {
  font-size: 18px;
  color: $whitecolor;
  text-decoration: none;
  transition: all 0.3s;
}

.footer__link:hover,
.footer__link:active {
  color: $bodycolor;
}

.nav__cta {
  padding-right: 60px;
  padding-top: 20px;
}

.cta__text {
  font-size: 20px;
  color: $whitecolor;
}

.cta__form {
  height: 36px;
  display: inherit;
}

.cta {
  display: inline-flex;
  padding-top: 20px;
}

.cta__email {
  background-color: $whitecolor;
  border: none;
  border-radius: 3px;
  width: 250px;
  height: 36px;
  margin-right: 8px;
}

input::-webkit-input-placeholder {
  color: rgb(212, 206, 206);
  padding-left: 10px;
}

.btn__form {
  color: $linkcolor;
  font-size: 16px;
  background-color: $whitecolor;
  border: none;
  border-radius: 3px;
  width: 96px;
  height: 36px;
}

.footer__social__icons {
  @include flex_align;
  justify-content: space-between;
  padding: 10px 150px 0 150px;
}
.copyright {
  font-size: 14px;
  color: $whitecolor;
  align-items: center;
}

.social__links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.social__link {
  height: 24px;
  width: 24px;
}

.social__icon {
  color: $whitecolor;
}
